<!--  This is the Drink MENU Page-->

<%= image_tag src="logo_long.png", size: "443 x 281", class: "logo"%>


<h1 class="barname"> <%=@bar.name %> Menu </h1>


<div class="row">

<div class="thumbnail">

<% @drinks.each do |drink| %>
<div class="xyz">
<%= image_tag drink.image, style: 'display: block; margin: auto; width: 50%;' %>
<br>
<p class="drinkname"><%= drink.name %></p>
<br>
<p><%= drink.description %></p>
<br>
<p class="drinkprice"><%= pretty_amount drink.price %></p>
<br>
<%= form_for([@bar, @bar.orders.build]) do |f| %>
<%= f.hidden_field :bar_id %>
<%= f.submit "Add Drink", :class => "btn" %>
<%= hidden_field_tag :drink_id, drink.id %>
</div>
<% end %>
<% end %>
</div>
</div>
</div>
</div>
