<!--  This is the Drink MENU Page-->
<!-- drink.image -->

<body id="drinks">
<div style="padding: 30px"></div>
<% @drinks.each do |drink| %>
<div class="container">
<div class="card">
  <div class="card-head">
          <%= image_tag src="thumbnail.png", class: "card-logo" %>
    <img src="<%= drink.image%>" alt="Beer" class="product-img">
    <div class="product-detail">
        <h2><%= raw drink.name %></h2><%=raw drink.description %>
      </div>
      <span class="back-text">

            </span>
</div>
<div class="card-body">
  <div class="product-desc">
          <span class="product-title">
                  <%= @bar.name  %>

                  <span class="badge">
                    New
                  </span>
          </span>
          <span class="product-caption">
                  Drink rating:
                </span>
          <span class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star grey"></i>
                </span>
        </div>
        <div class="product-properties">
          <span class="product-price">
                  <b><%= pretty_amount drink.price %></b>
                </span>
        </div>
        <%= form_for([@bar, @bar.orders.build]) do |f| %>
        <%= f.hidden_field :bar_id %>
        <%= f.submit "Add Drink", :class => "card__addToCart" %>
        <%= hidden_field_tag :drink_id, drink.id %>
        <% end %>
</div>
</div>
</div>
<% end %>
</body>
