<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drink.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drink.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @drink.image %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
