<p id="notice"><%= notice %></p>

<p>
  <h1><%= @drink.name %></h1>
</p>

<p>
  <%= image_tag @drink.image, :size => "130x90"%>
</p>

<p>
  <%= @drink.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= "$ #{@drink.price}"  %>
</p>
