<%= form_with(model: bar, local: true) do |form| %>
  <% if bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% bar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :bar_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :bar_password %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bar_name %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo, id: :bar_logo %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :bar_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :bar_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :bar_state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :bar_zipcode %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :bar_phone %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :bar_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
