<p id="notice"><%= notice %></p>



<h1 id="bar-header">Pick a bar!</h1>

<br>
<div class="bs-example" data-example-id="striped-table">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Bar Name</th>
        <th>Rating</th>
        <th>Address</th>
        <th>Order Drinks</th>
      </tr>
    </thead>
    <tbody>
      <% @res.each do |bar| %>
      <tr>
        <td><%= image_tag bar.photos.first.nil? ? '' : bar.photos.first.fetch_url(100) %></td>
        <td><%= link_to bar.name, "/bars/#{@bars.find_by(name: bar.name).id}/drinks" %></td>
        <td><%= bar.rating %></td>
        <td><%= bar.vicinity %></td>
        <td><%=link_to "Bar Tapp", "/bars/#{@bars.find_by(name: bar.name).id}/drinks", class: "btn btn-default"%></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZXTCzH0s0nEwgcAlNom-O1bLGzB3V3o0&libraries=places&callback=initMap" async defer></script> -->
