<p id="notice"><%= notice %></p>

<h1>Pick a bar!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Phone</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= bar.name %></td>
        <td><%= image_tag bar.logo, size: "200x100"; %></td>
        <td><%= bar.address %></td>
        <td><%= bar.city %></td>
        <td><%= bar.state %></td>
        <td><%= bar.zipcode %></td>
        <td><%= bar.phone %></td>
        <td><%= bar.description %></td>
        <td><%= link_to 'Show', bar %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar', new_bar_path %>
