<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @bar.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @bar.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @bar.logo, size: "600x300"; %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @bar.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @bar.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @bar.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bar.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bar.description %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
