<%= form_with(model: [@bar, order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :order_email %>
  </div>

  <div class="field">
    <%= form.label :stripe_token %>
    <%= form.text_field :stripe_token, id: :order_stripe_token %>
  </div>

  <div class="field">
    <%= form.label :bar_id %>
    <%= form.text_field :bar_id, id: :bar_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
