<div id="bar__view">
  <div class="order-logo">
    <%= image_tag src="logo_long_trimmed3.png", :id => "bar__view-logo" %>
  </div>
  <h1>Bar Orders</h1>




  <% @orders.each do |order| %>
    <div class="order-row-unique bar__view-row">
      <div class="name-instructions">
        <div class="">
          Order #<%= order.id %>
        </div>
        <% @order_items.each_with_index do |item, index| %>
          <% if item.order_id == order.id %>
            <div class="order-specifics">
              <div class="bar__view-drink-name">
                <%= Drink.find(@drink_ids[index]).name%>
              </div>
              <div class="bar__view-quantity">
                <%= item.quantity  %>
              </div>
              <div class="bar__view-instructions">
                <%= item.instructions %>
              </div>

            </div>

          <% end %>
        <% end %>
        <div ></div>
        <div></div>
      </div>

      <div class="quanity-button">
        <div></div>
        <div></div>
      </div>

      <div class="status-btn-div">
        <button id="code1" type="button" class="btn btn-default status-btn" style="width:25%" data-behavior= "room_speaker" >Order Received</button>

        <button id="code2" type="button" class="btn btn-default status-btn" style="width:25%" data-behavior= "room_speaker" >In-progress</button>

        <button id="code3" type="button" class="btn btn-default status-btn" style="width:25%" data-behavior= "room_speaker" > Drink ready!</button>
      </div>

    </div>
  <% end %>



</div>
