<p id="notice"><%= notice %></p>

<h1>Bartender View</h1>
<h3>Orders</h3>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Stripe token</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.email %></td>
        <td><%= order.stripe_token %></td>
        <td><%= link_to 'In-Progress', order, class: "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, class: "btn btn-default"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
