<p id="notice"><%= notice %></p>
<h1> Order: <%= @order.id %></h1>


<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Shots</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Instructions</th>
    </tr>
  </thead>
  <tbody>

<% @items.each do |item| %>
    <tr>
      <%= form_for(item, method: "patch") do |f| %>
        <td><%= image_tag @drinks[0].image, :size => "130x90" %></td>
        <td><%= @drinks[0].name %></td>
        <td><%= f.number_field :shots, min: 1, value: item.shots %></td>
        <td><%= f.number_field :quantity, min: 1, value: item.quantity  %></td>
        <td><%= @drinks[0].price %></td>
        <td><%= f.text_area :instructions, value: item.instructions %></td>
        <td><%= f.submit "Update Drink", :class => "btn" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h1>We want to reload page or de-press button when you update a drink!</h1>
<h1>We need to move the hidden order creating button from the menu screen to the bar selection screen.</h1>
<h1>We also want to add a submit button to pay and move on to progress screen!</h1>
