<div id="orders">

  <div class="order-logo">
    <%= image_tag src="logo_long_trimmed3.png", :id => "review-header-logo" %>
  </div>


  <h1 class="orders__header"> Review Order # <%= @order.id %></h1>
  <% @items.each_with_index do |item, index| %>


        <%= form_for(item, method: "patch") do |f| %>
        <div class="order-row-unique">
          <div class="order-drink-image"><%= image_tag Drink.find(@drink_ids[index]).image %></div>

          <div class="name-instructions">
            <div ><%= Drink.find(@drink_ids[index]).name%></div>
            <div><%= f.text_area :instructions, value: item.instructions, :class => "order-instructions" %></div>
          </div>

          <div class="quanity-button">
            <div><%= f.number_field :quantity, min: 1, value: item.quantity, :class => "quantity-instructions"  %></div>
            <div><%= f.submit "Update", :class => "update-drink" %></div>
          </div>

          <div class="price-total">
            <div class="unit-price prices"><p>Unit Price:</p><%= pretty_amount(Drink.find(@drink_ids[index]).price) %></div>
            <div class="total-price prices"><p>Total:</p><%= pretty_amount(Drink.find(@drink_ids[index]).price*item.quantity) %></div>
          </div>

        <% end %>

      </div>
      <% end %>
<div class="add-drink-link">
<%= link_to 'Add a drink', bar_drinks_path(@bar), :class => "btn btn-default add-drink-button"%>
</div>
  <div id="stripeinfo">
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total: <%= pretty_amount(@amount) %></span>
      </label>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" style="visibility: hidden;"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @description %>"
            data-amount="<%= @amount %>"
            data-locale="auto">
    </script>
  <% end %>
  <br>
  <button type="button" name="button" class="btn btn-primary btn-lg" id="payment-btn">Pay with Card</button>
  </div>

  </div>

</div>
