<!DOCTYPE html>
<html>
  <head>
    <title>Bartapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <script src="https://use.fontawesome.com/f7ef040cec.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body class="<%= controller_name %> <%= action_name%>">

    <%= yield %>

  </body>
</html>
